@import "tailwindcss";
body {
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
}
  
  body.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  .AppBar {
    background-color: white;
  }
  
  body.dark .AppBar {
    background-color: black;
  }
  body.dark .MuiAppBar-root {
    background-color: black;
    color: white;
  }
  
  body.light .MuiAppBar-root {
    background-color: #fff;
    color: black;
  }
  
  